{% extends "./menuFron.html" %}

{% block contenido %} 
    
      <section id="partner1">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>Accesorios</h2>
                
            </div>    

            
        </div><!--/.container-->
    </section><!--/#partner-->
    
    <section id="portfolio">
        <div class="container">
           
             <ul class="portfolio-filter text-center">
                <li><a class="btn btn-default active" href="#" data-filter="*">Todos los accesorios</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".pedales">Pedales</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".html">Para Guitarras</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".wordpress">Algun otro</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".wordpress">Algun otro</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".wordpress">Algun otro</a></li>
            </ul><!--/#portfolio-filter-->


            <div class="row">
                <div class="portfolio-items">
                    <div class="portfolio-item apps col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="../images/portfolio/accesorios/accesorio1.jpg" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="#">Nombre accesorio</a></h3>
                                    <p>Podes consultarnos por disponibilidad del producto o acercarte a nuestro local</p>
                                    <a class="preview" href="../images/portfolio/accesorios/accesorio1.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> Ver</a>
                                </div> 
                            </div>
                        </div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item joomla bootstrap col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="../images/portfolio/accesorios/accesorio2.jpg" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="#">Nombre accesorio</a></h3>
                                    <p>Podes consultarnos por disponibilidad del producto o acercarte a nuestro local</p>
                                    <a class="preview" href="../images/portfolio/accesorios/accesorio2.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> Ver</a>
                                    
                                </div> 
                            </div>
                        </div>          
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item bootstrap wordpress col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="../images/portfolio/accesorios/accesorio3.jpg" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="#">Nombre accesorio</a></h3>
                                    <p>Podes consultarnos por disponibilidad del producto o acercarte a nuestro local</p>
                                    <a class="preview" href="../images/portfolio/accesorios/accesorio3.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> Ver</a>
                                </div> 
                            </div>
                        </div>        
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item joomla wordpress apps col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="../images/portfolio/accesorios/accesorio4.jpg" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="#">Nombre accesorio</a></h3>
                                    <p>Podes consultarnos por disponibilidad del producto o acercarte a nuestro local</p>
                                    <a class="preview" href="../images/portfolio/accesorios/accesorio4.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> Ver</a>
                                </div> 
                            </div>
                        </div>           
                    </div><!--/.portfolio-item-->
          
                    <div class="portfolio-item joomla html bootstrap col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="../images/portfolio/accesorios/accesorio5.jpg" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="#">Nombre accesorio</a></h3>
                                    <p>Podes consultarnos por disponibilidad del producto o acercarte a nuestro local</p>
                                    <a class="preview" href="../images/portfolio/accesorios/accesorio5.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> Ver</a>
                                </div> 
                            </div>
                        </div>      
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item wordpress html apps col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="../images/portfolio/accesorios/accesorio6.jpg" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="#">Nombre accesorio</a></h3>
                                    <p>Podes consultarnos por disponibilidad del producto o acercarte a nuestro local</p>
                                    <a class="preview" href="../images/portfolio/accesorios/accesorio6.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> Ver</a>
                                </div> 
                            </div>
                        </div>         
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item wordpress html col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="../images/portfolio/accesorios/accesorio7.jpg" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="#">Nombre accesorio</a></h3>
                                    <p>Podes consultarnos por disponibilidad del producto o acercarte a nuestro local</p>
                                    <a class="preview" href="../images/portfolio/accesorios/accesorio7.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> Ver</a>
                                </div> 
                            </div>
                        </div>          
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item wordpress html bootstrap col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="../images/portfolio/accesorios/accesorio8.jpg" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="#">Nombre accesorio</a></h3>
                                    <p>Podes consultarnos por disponibilidad del producto o acercarte a nuestro local</p>
                                    <a class="preview" href="../images/portfolio/accesorios/accesorio8.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> Ver</a>
                                </div> 
                            </div>
                        </div>          
                    </div><!--/.portfolio-item-->
                    <div class="portfolio-item wordpress html bootstrap col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="../images/portfolio/accesorios/accesorio9.jpg" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="#">Nombre accesorio</a></h3>
                                    <p>Podes consultarnos por disponibilidad del producto o acercarte a nuestro local</p>
                                    <a class="preview" href="../images/portfolio/accesorios/accesorio9.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> Ver</a>
                                </div> 
                            </div>
                        </div>          
                    </div><!--/.portfolio-item-->
                    <div class="portfolio-item wordpress html bootstrap col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="../images/portfolio/accesorios/accesorio10.jpg" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="#">Nombre accesorio</a></h3>
                                    <p>Podes consultarnos por disponibilidad del producto o acercarte a nuestro local</p>
                                    <a class="preview" href="../images/portfolio/accesorios/accesorio10.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> Ver</a>
                                </div> 
                            </div>
                        </div>          
                    </div><!--/.portfolio-item-->
                    <div class="portfolio-item wordpress html bootstrap col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="../images/portfolio/accesorios/accesorio11.jpg" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="#">Nombre accesorio</a></h3>
                                    <p>Podes consultarnos por disponibilidad del producto o acercarte a nuestro local</p>
                                    <a class="preview" href="../images/portfolio/accesorios/accesorio11.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> Ver</a>
                                </div> 
                            </div>
                        </div>          
                    </div><!--/.portfolio-item-->
                    <div class="portfolio-item wordpress html bootstrap col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="../images/portfolio/accesorios/accesorio12.jpg" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="#">Nombre accesorio</a></h3>
                                    <p>Podes consultarnos por disponibilidad del producto o acercarte a nuestro local</p>
                                    <a class="preview" href="../images/portfolio/accesorios/accesorio12.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> Ver</a>
                                </div> 
                            </div>
                        </div>          
                    </div><!--/.portfolio-item-->
                    <div class="portfolio-item wordpress html bootstrap col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="../images/portfolio/accesorios/accesorio13.jpg" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="#">Nombre accesorio</a></h3>
                                    <p>Podes consultarnos por disponibilidad del producto o acercarte a nuestro local</p>
                                    <a class="preview" href="../images/portfolio/accesorios/accesorio13.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> Ver</a>
                                </div> 
                            </div>
                        </div>          
                    </div><!--/.portfolio-item-->
                    <div class="portfolio-item wordpress html bootstrap col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="../images/portfolio/accesorios/accesorio14.jpg" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="#">Nombre accesorio</a></h3>
                                    <p>Podes consultarnos por disponibilidad del producto o acercarte a nuestro local</p>
                                    <a class="preview" href="../images/portfolio/accesorios/accesorio14.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> Ver</a>
                                </div> 
                            </div>
                        </div>          
                    </div><!--/.portfolio-item-->
                    <div class="portfolio-item wordpress html bootstrap col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="../images/portfolio/accesorios/accesorio15.jpg" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="#">Nombre accesorio</a></h3>
                                    <p>Podes consultarnos por disponibilidad del producto o acercarte a nuestro local</p>
                                    <a class="preview" href="../images/portfolio/accesorios/accesorio15.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> Ver</a>
                                </div> 
                            </div>
                        </div>          
                    </div><!--/.portfolio-item-->
                    <div class="portfolio-item wordpress html bootstrap col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="../images/portfolio/accesorios/accesorio16.jpg" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="#">Nombre accesorio</a></h3>
                                    <p>Podes consultarnos por disponibilidad del producto o acercarte a nuestro local</p>
                                    <a class="preview" href="../images/portfolio/accesorios/accesorio16.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> Ver</a>
                                </div> 
                            </div>
                        </div>          
                    </div><!--/.portfolio-item-->
                    <div class="portfolio-item wordpress html bootstrap col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="../images/portfolio/accesorios/accesorio17.jpg" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="#">Nombre accesorio</a></h3>
                                    <p>Podes consultarnos por disponibilidad del producto o acercarte a nuestro local</p>
                                    <a class="preview" href="../images/portfolio/accesorios/accesorio17.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> Ver</a>
                                </div> 
                            </div>
                        </div>          
                    </div><!--/.portfolio-item-->
                    <div class="portfolio-item wordpress html bootstrap col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="../images/portfolio/accesorios/accesorio18.jpg" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="#">Nombre accesorio</a></h3>
                                    <p>Podes consultarnos por disponibilidad del producto o acercarte a nuestro local</p>
                                    <a class="preview" href="../images/portfolio/accesorios/accesorio18.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> Ver</a>
                                </div> 
                            </div>
                        </div>          
                    </div><!--/.portfolio-item-->
                    <div class="portfolio-item wordpress html bootstrap col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="../images/portfolio/accesorios/accesorio19.jpg" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="#">Nombre accesorio</a></h3>
                                    <p>Podes consultarnos por disponibilidad del producto o acercarte a nuestro local</p>
                                    <a class="preview" href="../images/portfolio/accesorios/accesorio19.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> Ver</a>
                                </div> 
                            </div>
                        </div>          
                    </div><!--/.portfolio-item-->
                    <div class="portfolio-item wordpress html bootstrap col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="../images/portfolio/accesorios/accesorio20.jpg" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="#">Nombre accesorio</a></h3>
                                    <p>Podes consultarnos por disponibilidad del producto o acercarte a nuestro local</p>
                                    <a class="preview" href="../images/portfolio/accesorios/accesorio20.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> Ver</a>
                                </div> 
                            </div>
                        </div>          
                    </div><!--/.portfolio-item-->
                    <div class="portfolio-item wordpress html bootstrap col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="../images/portfolio/accesorios/accesorio21.jpg" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="#">Nombre accesorio</a></h3>
                                    <p>Podes consultarnos por disponibilidad del producto o acercarte a nuestro local</p>
                                    <a class="preview" href="../images/portfolio/accesorios/accesorio21.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> Ver</a>
                                </div> 
                            </div>
                        </div>          
                    </div><!--/.portfolio-item-->
                    <div class="portfolio-item wordpress html bootstrap col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="../images/portfolio/accesorios/accesorio22.jpg" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="#">Nombre accesorio</a></h3>
                                    <p>Podes consultarnos por disponibilidad del producto o acercarte a nuestro local</p>
                                    <a class="preview" href="../images/portfolio/accesorios/accesorio22.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> Ver</a>
                                </div> 
                            </div>
                        </div>          
                    </div><!--/.portfolio-item-->
                    <div class="portfolio-item wordpress html pedales col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="../images/portfolio/accesorios/accesorio25.jpg" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="#">Nombre accesorio</a></h3>
                                    <p>Podes consultarnos por disponibilidad del producto o acercarte a nuestro local</p>
                                    <a class="preview" href="../images/portfolio/accesorios/accesorio25.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> Ver</a>
                                </div> 
                            </div>
                        </div>          
                    </div><!--/.portfolio-item-->
                    <div class="portfolio-item wordpress html pedales col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="../images/portfolio/accesorios/accesorio24.jpg" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="#">Nombre accesorio</a></h3>
                                    <p>Podes consultarnos por disponibilidad del producto o acercarte a nuestro local</p>
                                    <a class="preview" href="../images/portfolio/accesorios/accesorio24.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> Ver</a>
                                </div> 
                            </div>
                        </div>          
                    </div><!--/.portfolio-item-->
                </div>
            </div>
        </div>
    </section><!--/#portfolio-item-->
  
    
    
    
  
      
{% endblock%}