{% extends "./menuFron.html" %}

{% block contenido %} 
    
      <section id="partner1">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>Accesorios</h2>
                
            </div>    

            
        </div><!--/.container-->
    </section><!--/#partner-->
    
    <section id="portfolio">
        <div class="container">
            
            {% if not categoria %}
            <ul class="portfolio-filter text-center">
                <li><a class="btn btn-default active" href="#" data-filter="*">Todos los accesorios</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".pedales">Pedales</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".guitarras">Para Guitarras</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".bajos">Para bajos</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".vientos">Para vientos</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".percusion">Para percusión</a></li>            
            </ul><!--/#portfolio-filter-->
            {% endif %}

            <div class="row">
                <div class="portfolio-items"> 

                    {% for cat in categorias %}
                        <div class="{{cat.nombre}}">
                            {% for productoNuevo in productosNuevos %}
                                {% if productoNuevo.nombre == cat.nombre %}
                                <div class="portfolio-item  wordpress {{cat.nombre}} html col-xs-12 col-sm-4 col-md-3">
                                    <div class="recent-work-wrap">                
                                        <img class="img-responsive" src="../images/portfolio/accesorios/{{productoNuevo.nombreImagen}}" alt="{{productoNuevo.idArticulo}}">

                                        <div class="overlay">
                                            <div class="recent-work-inner">
                                                <h3><a href="#">{{productoNuevo.nombreP}}</a></h3>
                                                <p>{{productoNuevo.descripcion}}</p>
                                                <a class="preview" href="../images/portfolio/accesorios/{{productoNuevo.nombreImagen}}" rel="prettyPhoto"><i class="fa fa-eye"></i> Ver</a>
                                            </div> 
                                        </div>                   
                                    </div>     
                                </div><!--/.portfolio-item-->
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                 
                    {% for usado in usados %}
                    <div class="portfolio-item  wordpress usados html col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">                
                            <img class="img-responsive" src="../images/portfolio/accesorios/{{usado.nombreImagen}}" alt="{{usado.idArticulo}}">

                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="#">{{usado.nombre}}</a></h3>
                                    <p>{{usado.descripcion}}</p>
                                    <p>Precio: {{usado.precio}}</p>
                                    <a class="preview" href="../images/portfolio/accesorios/{{usado.nombreImagen}}" rel="prettyPhoto"><i class="fa fa-eye"></i> Ver</a>
                                </div> 
                            </div>                   
                        </div>      
                    </div><!--/.portfolio-item-->
                    {% endfor %}

                </div>
            </div>
        </div>
    </section><!--/#portfolio-item-->
  
    
    
    
  
      
{% endblock%}