{% extends direccion %}
 {% block titulo %}
      Agregar artículo
 {% endblock %}
{% block cabecera %}
    {% if yaExiste %}
        <div class='alert alert-warning alert-dismissable'>
              <button type='button' class='close' data-dismiss='alert'>&times;</button>
              <strong>Cuidado!!</strong> El artículo que quiere ingresar ya existe.
        </div>
    {% endif %}
{% endblock %}
{% block contenido %}
        

          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#usados" aria-controls="usados" role="tab" data-toggle="tab">Usados</a></li>
            <li role="presentation"><a href="#productos" aria-controls="productos" role="tab" data-toggle="tab">Productos</a></li>

          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="usados">
                <div class="panel-body">
                    <form id="formulario" method="post" action="../controller/agregoUsado.php" enctype='multipart/form-data'>
                      <div class="row">
                          <div class="col-md-6">
                              <div class="form-group">
                                  <input id="nombre" name="nombre" class="form-control" placeholder="Nombre del artículo*" type="text" maxlength="40" required="required"/> 
                              </div>
                              
                              <div class="form-group">
                                  
                                  <select class="form-control" id="marca" name="marca">
                                          <option value='otros'>OTROS</option>
                                      {% for marca in marcas %}
                                     
                                         <option value='{{marca.idMarca}}'>{{marca.nombreMarca}}</option>
                                                     
                                      {% endfor %}
                                      
                                  </select>
                              </div>

                              <div class="form-group">
                                  
                                    <div class="btn">
                                      <input type="file" multiple name="foto" required="required">
                                    </div>   
                                    <p class="red-text">Solo se permiten archivos JPG y JPEG menores a 1Mb</p>
                                  
                              </div>  

                          </div>
                    
                          <div class="col-md-6">
                              <div class="form-group">
                                  <input id="descripcion" name="descripcion" class="form-control" placeholder="Descripcion del artículo*" type="text" maxlength="150" required="required"/> 
                              </div> 

                              <div class="form-group input-group">
                                  <span class="input-group-addon">$</span>
                                  <input  id="precio" name="precio" class="form-control" placeholder="Precio*"  type="number" step="any" min="1" required="required">          
                              </div>
                                                 
                          </div>
                          <div class="col-md-12 ">
                              <div class="col-md-6 ">
                                <button type="submit" class="btn btn-success">Agregar Usado</button>
                               
                              </div>
                    </form id="formulario">
                                                          
                </div>
            </div>
           </div>

            </div>
            <div role="tabpanel" class="tab-pane" id="productos">
                <div class="panel-body">
                    <form id="formulario" method="post" action="../controller/agregoProductoNuevo.php" enctype='multipart/form-data'>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input id="nombre" name="nombre" class="form-control" placeholder="Nombre del artículo*" type="text" maxlength="40" required="required"/> 
                                </div>
                                
                                <div class="form-group">
                                    
                                    <select class="form-control" id="tipo" name="tipo" required="required">

                                        <option value='otros'>SELECCIONAR TIPO</option>
                                        {% for tipo in tipos %}
                                       
                                           <option value='{{tipo.id}}'>{{tipo.nombre}}</option>
                                                       
                                        {% endfor %}

                                    </select>
                                    </div>   
                                <div class="form-group">
                                    
                                      <div class="btn">
                                        <input type="file" multiple name="foto" id="file" required="required">
                                      </div>   
                                      <p class="red-text">Solo se permiten archivos JPG y JPEG menores a 1Mb</p>
                                    
                                </div>  

                            </div>
                      
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input id="descripcion" name="descripcion" class="form-control" placeholder="Descripcion del producto*" type="text" maxlength="150" required="required"/> 
                                </div>

                                <div class="form-group">
                                    
                                    <select class="form-control" id="categoria" name="categoria" required="required">
                                        <option value='otros'>SELECCIONAR CATEGORIA</option>
                                        {% for categoria in categorias %}
                                       
                                           <option value='{{categoria.id}}'>{{categoria.nombre}}</option>
                                                       
                                        {% endfor %}
                                        

                                    </select>
                                </div> 
                            </div>
                            
                            <div class="col-md-12 ">
                                <div class="col-md-6 ">
                                  <button type="submit" class="btn btn-success">Agregar Producto</button>
                                 
                                </div>    
                             </div>
                    </form id="formulario">
                    </div>
                </div>

            </div>
            </div>
          </div>



{% endblock %}