<!DOCTYPE html>
<html lang="en">

<head>
	  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">   
    <link rel="icon" href="../images/favicon.gif">
    <title>La Cuerda</title>
    <link rel="shortcut icon" href="../images/ico/favi.gif">
    <link href="../css/impresion.css" rel="stylesheet" />
    </pre>
</head>

<body>
	<div class="container">
		<div class="row">
		       
			<pre>
			</pre>
					<div class="col-xs-6">

					<h4>Pedido #001-0000</h4>
					</div>
					<div class="col-xs-6 text-right">
					<h2></h2>
					<h3><small>Fecha: 06/05/15</small></h3>
					</div> 

					<hr />
			<div class="row">
				<div class="col-xs-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h5>Datos del cliente: </h5>
						</div>
						<div class="panel-body">
							<h5>Mohamed Maximiliano - 411 n° 2009,Villa Elisa</h5>
							<h5>Tel: 4733419 - Tel 2: 221155237499</h5>
							<h5>CUIT/CUIL: 20356116063</h5>
						</div>
					</div>
				</div>
				
			</div>
		
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>
							Descripción
						</th>
						<th>
							Marca
						</th>
						<th>
							Cantidad
						</th>
						<th>
							Precio u.
						</th>
						<th>
							Sub-Total
						</th>
						<th>
							Dto.%
						</th>
						<th>
							Total
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Artículo</td>
						<td><a href="#"> Título de su artículo aquí </a></td>
						<td class=" text-right ">-</td>
						<td class=" text-right ">200.00 €</td>
						<td class=" text-right ">200.00 €</td>
						<td class=" text-right ">200.00 €</td>
						<td class=" text-right ">200.00 €</td>
					</tr>
					<tr>
						<td>Plantilla de diseño</td>
						<td><a href="#"> Detalles del proyecto aquí </a></td>
						<td class="text-right">10</td>
						<td class="text-right ">75.00 €</td>
						<td class="text-right ">750.00 €</td>
						<td class=" text-right ">200.00 €</td>
						<td class=" text-right ">200.00 €</td>
					</tr>
					<tr>
						<td>Desarrollo</td>
						<td><a href="#"> Plugin WordPress </a></td>
						<td class="text-right ">5</td>
						<td class="text-right">50.00 €</td>
						<td class="text-right">250.00 €</td>
						<td class=" text-right ">200.00 €</td>
						<td class=" text-right ">200.00 €</td>
					</tr>
				</tbody>
			</table>
			<pre>Sección Totales
			</pre>
			<div class="row text-right">
				<div class="col-xs-2 col-xs-offset-7"><strong>
					Sub Total:
					Impuestos (IVA 21%):
					Total:
				</strong></div>
				<div class="col-xs-2"><strong>
					1,200.00 €
					252.00 €
					1,452.00 €
				</strong></div>
			</div>
			<pre>Sección detalles de pago
			<div class="row">
				<div class = "col-xs-5">
				datos bancarios
				</ div>
				<div class="col-xs-7">
				datos de contacto
				</div>
			</div>
			<div class="panel panel-info">
				<div class="panel-heading">
					<h4>Datos bancarios</h4>
				</div>
				<div class="panel-body">
					 Su nombre
					 Nombre del banco
					 SWIFT: -------
					 Número de cuenta: 12345678
					 IBAN: ------</div>
				</div>
			</div>
			<div class="span7">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h4> Datos de contacto </h4>
						<div class=" panel-body ">
						 Email: usted@ejemplo.com
						 Móvil: +92123456789
						 Twitter: <a href="https://twitter.com/suTwitter">@suTwitter</a> |Suweb: <a href="http://www.suweb.com/author/usted"> http: //www. suweb.com/author/usted / </a>
						<h4><small> El pago debe ser por transferencia bancaria </h4>
						</div>
					</div>
				</div>
			</div>
			


</body>

</html>
