<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">   
    <link rel="icon" href="../images/favicon.gif">
    <title>La Cuerda</title>
    <link rel="shortcut icon" href="../images/ico/favi.gif">
    <link href="../css/impresion.css" rel="stylesheet" /></pre>
   
</head>

<body>
    <div class="container">
        {% block contenido %}{% endblock %}
    </div>
            


</body>

</html>
