{% extends "./menuFron.html" %}

{% block contenido %} 
    
      <section id="partner">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>Nuestros Luthiers</h2>
                <h3>En La Cuerda contamos con un equipo de luthiers especializados en la construcción, reparación y restauración de instrumentos de cuerda. Años de experiencia en el oficio garantizan la calidad y responsabilidad en sus trabajos. Nuestro equipo de trabajo está integrado por los siguientes luthiers:</h3>
            </div>    

           <!-- <div class="partners">
                <ul>
                    <li> <a href="#delledonne"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" src="../images/partners/partner1.png"></a></li>
                    <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms" src="../images/partners/partner1.png"></a></li>
                    <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms" src="../images/partners/partner1.png"></a></li>
                    <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms" src="../images/partners/partner1.png"></a></li>
                    <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1500ms" src="../images/partners/partner1.png"></a></li>
                </ul>
            </div> -->       
        </div><!--/.container-->
    </section><!--/#partner-->
    
    <section id="blog" class="container">
        <div class="center">
          
            <p class="lead"></p>
        </div>

        <div class="blog">
            <div class="row">
                 <div class="col-md-12">
                    <div class="blog-item">
                        <div class="row" >
                            
                                
                            <div class="col-xs-12 col-sm-12 blog-content" id="delledonne">
                                
                                <div class="col-xs-12 col-sm-5">
                                    <h2>Delledonne, Mariano</h2>
                                    <h3>Hace más de 12 años se dedica profesionalmente a la Luthería. Se especializa en la construcción, reparación y restauración artesanal de instrumentos de cuerda pulsada  entre los que se destacan: guitarras clásicas y variedad de instrumentos latinoamericanos tales como charango, requinto, tres cubano y cuatro venezolano. Sus creaciones artísticas se definen por la combinación de elementos tradicionales, la búsqueda de diseños innovadores y la autenticidad de las piezas. Esta impronta artística logró el Reconocimiento de Excelencia Artesanal de la UNESCO, otorgado por el World Craft Council, en el año 2014.
                                    
                                    </h3>
                                </div>
                                 <div class="col-xs-12 col-sm-7 ">
                                        <img class="img-responsive img-blog" src="../images/blog/blog1.jpg" width="100%" alt="" />
                                        
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 blog-content"> 
                                <div class="col-xs-12 col-sm-5">
                                    <h2>Kaltenbach, Guillermo</h2>
                                    <h3>Estudió Licenciatura en música en la UNLP. Se formó con luthiers de la ciudad de La Plata y Buenos Aires, perfeccionándose en guitarras clásicas y españolas en la Escuela de Luthería de Tucumán. Actualmente, construye, repara y restaura instrumentos de cuerda en general (pulsados y de arco). Se especializa en la construcción de guitarras clásicas y flamencas. También realiza trabajo de puesta a punto y calibraciones en bajo y guitarras eléctricas. 
                                    </h3>
                                </div>
                                <div class="col-xs-12 col-sm-7 ">
                                        <img class="img-responsive img-blog" src="../images/blog/blog2.jpg" width="100%" alt="" />
                                        
                                </div>
                            
                            </div>
                           
                        </div>    
                    </div><!--/.blog-item-->
                        


            </div><!--/.row-->
        </div>
    </section><!--/#blog-->
  
    
    
    
  
      
{% endblock%}